let $module.name = function() {
#foreach ($m in $module.jsClass.classMembers)
    $m
#end
    return {
#foreach($func in $module.joinedFuncs)
        $func.name: function$func.params {
    #foreach($bodyLine in $func.bodyLines)
            $bodyLine
    #end
        }#if ($foreach.hasNext),#end
#end
    };
};
mr.register($module.path, $module.name);